#ascent-a-1 {
    background-image: url("./img/a-reveal-2.png");
        
}

#ascent-a-1:hover {
    background-image: url("./img/a-reveal-1.png");
        
}

#ascent-b-1 {
    background-image: url("./img/b-reveal-2.png");
        
}

#ascent-b-1:hover {
    background-image: url("./img/b-reveal-1.png");
        
}