#ascent-a-1 {
    background-image: url("./img/a-lobby-to-a-default-2.png");
        
}

#ascent-a-1:hover {
    background-image: url("./img/a-lobby-to-a-default-1.png");
        
}

#ascent-a-2 {
    background-image: url("./img/a-lobby-to-a-dice-2.png");
        
}

#ascent-a-2:hover {
    background-image: url("./img/a-lobby-to-a-dice-1.png");
        
}

#ascent-b-1 {
    background-image: url("./img/b-lobby-to-b-default-2.png");
        
}

#ascent-b-1:hover {
    background-image: url("./img/b-lobby-to-b-default-1.png");
        
}